.page {
    background-color: rgb(74, 91, 247);
}

StackLayout {
    width: 80%;
    vertical-align: center;
}
    TextField {
        font-size: 15%;
        border-bottom: 10px black;
    }
    Image {
        height: 10%;
        align-self: center;
    }
    .signup {
        background-color: red;
    }
    .fb-btn { 
        background-color: cornflowerblue;
    }
    button {
        width: 50%;
        height: 10%;
        font-size: 8%;

    }