<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout>
        <Image src="~/img/logo-placeholder.png"></Image>
        
        <TextField hint="Enter your username." text="" secure="true"></TextField>
        
        <TextField hint="Enter your password." text="" secure="true"></TextField>

        <Button text="Login"></Button>
        <Button class="signup" text="Sign up"></Button>
        <Button class="fb-btn" text="Login with facebook"></Button>
    </StackLayout>
</GridLayout>